<!DOCTYPE html>
<html lang="fr">
  <head>
    <title>Résultat de la recherche</title>
  </head>
  <body>

    <form name="feedback_form" action="/feedback" method="post">
      
 	 {% if display_params['since_field'] != -1 %}
	    <H1>Résultats sur une période de {{display_params['since_field']}} heures</H1>
	 {% else %}
        <H1>Résultats</H1>
     {% endif %}
      <TABLE>
	<TR>
	  <TD>
	    Recherche des mots-clé
	    <INPUT TYPE=TEXT NAME="mkw" VALUE="{{display_params['mkw_field']}}"> (obligatoires),
	    <INPUT TYPE=TEXT NAME="okw" VALUE="{{display_params['okw_field']}}"> (optionnels) et
	    <INPUT TYPE=TEXT NAME="bkw" VALUE="{{display_params['bkw_field']}}"> (bannis) 
      </TD>
    </TR>
      <TD>
	    Affichage des tweets à scores nuls 
	    {% if display_params['display_zero']==1 %}
	    <INPUT TYPE=CHECKBOX NAME="dz" CHECKED>
	    {% else %}
	    <INPUT TYPE=CHECKBOX NAME="dz">
	    {% endif %}  

	    <INPUT TYPE=HIDDEN NAME="session_id" VALUE="{{display_params['session_id']}}">Coup de pouce <input type="checkbox" name="cdp">
	    <INPUT type=SUBMIT value="rafraichir">
	    {% if display_params['tweets_set'] != [] %}
	      <A HREF="/displayTweetsStats?session_id={{display_params['session_id']}}" TARGET=_new>statistiques</A>
	    {% endif %}
	  </TD>
	</TR>
	<TR>
	<TD>
	    Tweets trouvés : {{display_params['num_fetched']}} / Tweets gardés : {{display_params['num_kept']}} / Tweets affichés : {{display_params['num_displayed']}}
	    <BR><BR>
	</TD>
	</TR>
      </TABLE>
      <table style="width:100%" border=1>
	<TR>
	  <th>Score</th>
	  <th>Lieu</th>
	  <th>Heure et date</th>
	  <th>Text</th>
	  <th>Image</th>
	  <th>J'aime</th>
	  <th>Bannir</th>
	</TR>
	
	{% for tweet_elm in display_params['tweets_set'] %}
	
	<TR>
	  <td>
	    {{tweet_elm['score']}}
	  </td>

	  <td>
	    {% if tweet_elm ['place'] %}
	    <A HREF="http://maps.google.com?q={{tweet_elm['place']}}" TARGET=_new>{{tweet_elm['place']}}</A>
	    {% else %}
	    aucun
	    {% endif %}
	  </td>

	  <td>
	    {{tweet_elm['created_at']}}
	  </td>
	  
	  <td>
	    {% if tweet_elm['new'] %}
	    <IMG SRC="{{url_for('static',filename='new_icon.png')}}" WIDTH=16>
	    {% endif %}
	    
	    <A HREF="http://www.twitter.com/statuses/{{tweet_elm['id']}}" TARGET=_new>{{tweet_elm['text']}}</A>
	  </td>
	  
	  <td>
	    {% if tweet_elm['medias'] %}
	    {% for media in tweet_elm ['medias'] %}
	    <A HREF="{{media}}" TARGET=_new><IMG SRC="{{media}}" WIDTH=100></A>
	    {% endfor %}
	    {% else %}
	    aucune
	    {% endif %}
	  </td>
	    
	  <td VALIGN="MIDDLE">
	    <IMG SRC="{{url_for('static', filename='fav_icon.png')}}" WIDTH=16><INPUT TYPE="checkbox" NAME="fav_{{tweet_elm['id']}}">
	  </td>
	  <td VALIGN="MIDDLE">
	    <IMG SRC="{{url_for('static', filename='ban_icon.png')}}" WIDTH=16><INPUT TYPE="checkbox" NAME="ban_{{tweet_elm['id']}}">
	  </td>
	</TR>
	{% endfor %}
	
      </table>
    </form>


  </body>
</html>
    
