<!DOCTYPE html>
<html lang="fr">
  <head>
    <title>Résultat de la recherche</title>
  </head>
  <body>

    <form name="feedback_form" action="/feedback" method="post">
      
 	 {% if display_params['since_field'] != -1 %}
	    <H1>Résultats sur une période de {{display_params['since_field']}} heures</H1>
	 {% else %}
        <H1>Résultats</H1>
     {% endif %}
      <TABLE>
      <TR>
		<TD>
	    Tweets trouvés : {{display_params['num_fetched']}} / Tweets gardés : {{display_params['num_kept']}} / Tweets affichés : {{display_params['num_displayed']}}
	    {% if display_params['tweets_set'] != [] %}
	      <A HREF="/displayTweetsStats?session_id={{display_params['session_id']}}" TARGET=_new>statistiques</A>
	    {% endif %}
	    <BR><BR>
		</TD>
	</TR>
	<TR>
	  <TD>
	    <B>Mot-clés obligatoires</B> : <INPUT TYPE=TEXT NAME="mkw" VALUE="{{display_params['mkw_field']}}">
	    <B>Mot-clés optionnels</B> :<INPUT TYPE=TEXT NAME="okw" VALUE="{{display_params['okw_field']}}"> 
	    <B>Mot-clés bannis</B> : <INPUT TYPE=TEXT NAME="bkw" VALUE="{{display_params['bkw_field']}}"> 
      </TD>
    </TR>
      <TD>
      	<B>score minimum</B> <INPUT TYPE=TEXT NAME="minscore" MAXLENGTH=4 VALUE="{{display_params['minimum_score']}}"> 
  	    <INPUT TYPE=HIDDEN NAME="session_id" VALUE="{{display_params['session_id']}}"><B>Suggérer des mots clés optionnels</B> <input type="checkbox" name="cdp">
	    </TD>
	</TR>
	<TR ALIGN="center" BGCOLOR="green">
		<TD>
	    <INPUT type=SUBMIT value="rafraichir">
	  </TD>
	</TR>

      </TABLE>
      <table style="width:100%" border=1>
	<TR>
	  <th>Score</th>
	  <th>Lieu</th>
	  <th>Heure et date</th>
	  <th>User</th>
	  <th>Text</th>
	  <th>Image</th>
	  <th>J'aime</th>
	  <th>Bannir</th>
	</TR>
	
	{% for tweet_elm in display_params['tweets_set'] %}
	
	<TR>
	  <td>
	    {{tweet_elm['score']}}
	  </td>

	  <td>
	    {% if tweet_elm ['place'] %}
	    <A HREF="http://maps.google.com?q={{tweet_elm['place']}}" TARGET=_new>{{tweet_elm['place']}}</A>
	    {% else %}
	    aucun
	    {% endif %}
	  </td>

	  <td>
	    {{tweet_elm['created_at']}}
	  </td>
	  <td>
	    {{tweet_elm['user']}}
	  </td>
	  <td>
	    {% if tweet_elm['new'] %}
	    <IMG SRC="{{url_for('static',filename='new_icon.png')}}" WIDTH=16>
	    {% endif %}
	    
	    <A HREF="http://www.twitter.com/statuses/{{tweet_elm['id']}}" TARGET=_new>{{tweet_elm['text']}}</A>
	  </td>
	  
	  <td>
	    {% if tweet_elm['medias'] %}
	    {% for media in tweet_elm ['medias'] %}
	    <A HREF="{{media}}" TARGET=_new><IMG SRC="{{media}}" WIDTH=100></A>
	    {% endfor %}
	    {% else %}
	    aucune
	    {% endif %}
	  </td>
	    
	  <td VALIGN="MIDDLE">
	    <IMG SRC="{{url_for('static', filename='fav_icon.png')}}" WIDTH=16><INPUT TYPE="checkbox" NAME="fav_{{tweet_elm['id']}}">
	  </td>
	  <td VALIGN="MIDDLE">
	    <IMG SRC="{{url_for('static', filename='ban_icon.png')}}" WIDTH=16><INPUT TYPE="checkbox" NAME="ban_{{tweet_elm['id']}}">
	  </td>
	</TR>
	{% endfor %}
	
      </table>
    </form>


  </body>
</html>
    
